body {
  font-family: "Montserrat";
  text-align: center;
}

h1 {
  font-family: "Montserrat";
  font-weight: 900;
  line-height: 1.5;
  font-size: 4rem;
}

h2 {
  font-family: "Montserrat-bold";
  font-size: 2rem;
  line-height: 2rem;
}

h3 {
  font-family: "Montserrat-bold";
  font-size: 2rem;
}

/* Header */
#title {
  background-color: #ff4c68;
  color: white;
  text-align: left;
}

.container-fuild {
  padding: 3% 10% 7%;
}


.rotate {
  transform: rotate(25deg);
  width: 60%;
  margin-left: 80px;
  position: absolute;
  right: 30%;
  }


/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-item {
  padding:0 18px;
}

.nav-link {
  font-size: 1.3rem;
  font-family: "Montserrat-light"
}

.download-button {
  margin:5% 3% 5% 0;
}

/*Features*/
#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}


.fas {
  color: #ef8172;
  font-size: 50px;
  padding-bottom: 1rem;
}

.fas:hover {
  color: #ff4c68;
}

.feature-box {
  padding: 5%;
}



.color {
  color: #8f8f8f;
}


/* Testimonials Section  */
#testimonials {
  background-color: #ff4c68;
  color: #fff;
}

.testimonials-image {
  width: 10%;
  border-radius: 50%;
  margin: 20px;
}

/* Press */
#press {
  background-color: #ff4c68;
  padding-bottom: 3%;
}

.press-logo {
  width: 10%;
  margin: 20px 20px 50px;
}

.carousel-inner {
  padding: 7% 15%;
}

/* Pricing */
#pricing {
  padding: 7% 15%;
}
.card {
  height: 100%;
}

.pricing-column {
  padding: 3% 2%;
}

/* Call to Action */
#cta{
  background-color: #ff4c68;
  padding: 5% 15%;
}

.cta-setting {
  font-family: Montserrat;
  font-weight: 900;
  margin-bottom: 30px;
  color: #fff;
  font-size: 220%;
}

/* Footer Section */
#footer{
  padding: 7% 15%;
  background-color: #fff;
}

.footer-icon{
  font-size: 20px;
  padding-right: 20px;
  color: black;
}

/* Responsive for all devices */
@media (min-width:992px) and (max-width:1210px) {
  .rotate {
    position:static;
    transform: rotate(0);
  }

  #title {
    text-align: center;
  }

  h1 {
    font-size: 3rem;
    font-family: Montserrat;
    font-weight: 800;
    line-height: 5rem;
  }
}

@media (max-width:991px){
  #title {
    text-align: center;
  }

  .rotate {
    position: static;
    transform: rotate(0);
    width: 40%;
    margin-left: 0;
  }

  h1 {
    font-size: 2rem;
    font-family: Montserrat;
    font-weight: 800;
    line-height: 3rem;
  }
}
